@import '_settings';

body {
  background-color: @w-grey-0;
  font-family: Avenir, 'Lato', 'Helvetica Neue', Helvetica, Arial;
  color: @w-grey-9;
}

ul.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}

.link {
  cursor: pointer;
}

.heart {
  display: inline-block;
  background: url(/assets/images/heart.svg) no-repeat center top;
  background-size: 1.1em 1em;
  width: 1.1em;
  height: 1em;
}