@import '_settings';

.footer {
  text-align: center;
  border-top: 1px dashed @w-grey-4;
  border-bottom: 1px dashed @w-grey-4;
  color: @w-grey-5;
  margin-top: 45px;
  margin-bottom: 4px;
  padding-top: 15px;
  padding-bottom: 12px;
  a {
    color: @w-grey-7 !important;
    font-weight: bold;
  }
  .heart {
    display: inline-block;
    background: url(/assets/images/heart.svg) no-repeat center top;
    background-size: 1em;
    width: 1em;
    height: 1em;
    margin: 0 12px;
  }
}