@import '_settings';

.footer {
  text-align: center;
  border-top: 1px dashed @w-grey-4;
  border-bottom: 1px dashed @w-grey-4;
  color: @w-grey-5;
  margin-top: 45px;
  margin-bottom: 4px;
  padding-top: 15px;
  padding-bottom: 12px;
  a {
    color: @w-grey-7 !important;
    font-weight: bold;
  }
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divider {
    display: inline-block;
    width: 2px;
    height: 16px;
    background-color: @w-grey-4;
    margin-right: 10px;
    margin-left: 10px;
  }
}