@import '../../node_modules/bootstrap-css-only/css/bootstrap.css';
@import '../../node_modules/react-select/dist/react-select.css';

@highlight: blue;
.menu-home {
  font-size: 1.5em;
  span {
    margin-right: 1em;
  }
}

.menu-header {
  .selected {
    font-weight: bold;
    margin-right: 1em;
  }
  .normal {
    margin-right: 1em;
  }
}

.header {
  background-color: #efefef;
}

.lines {
  .normal, .selected, .highlighted {
    fill: none;
  }
  .normal {
    stroke: rgba(0, 0, 0, 0.2);
  }
  .selected {
    stroke: red;
    stroke-width: 3px;
  }
  .highlighted {
    stroke: @highlight;
    stroke-width: 3px;
  }
}

.flow-stats {
  position: absolute;
  top: 20px;
  left: 80px;
  .hover-summary {
    color: @highlight;
  }
}